<header class="w-full py-2">
  <nav class=" px-5 justify-between items-center flex mx-auto">
    <div class="font-bold text-yellow-400 text-3xl borderx">Web-Dev</div>
    <div class="font-normal text-yellow-400 text-xl space-x-6 flex borderx">
      <a href="/" class="hover:text-yellow-100">Home</a>
      <a href="/services" class="hover:text-yellow-100">Services</a>
      <a href="/info" class="hover:text-yellow-100">Info</a>
    </div>
  </nav> 
</header>