<header class="w-full py-0">
  <nav class="px-5 justify-between items-center flex mx-auto">
    <div class="w-16 object-cover">
      <img src="https://paitoon.netlify.app/assets/ptw-logo.png" alt="" >
    </div>
    <div class="font-normal text-yellow-600 text-xl space-x-6 flex">
      <a href="/" class="hover:text-orange-400">Home</a>
      <a href="/services" class="hover:text-orange-400">Services</a>
      <a href="/info" class="hover:text-orange-400">Info</a>
    </div>
  </nav> 
</header>