<header class="w-full py-3">
  <nav class="px-5 justify-between items-center flex mx-auto bg-lime-300">
    <div class="w-20 h-10 object-cover relative z-20">
      <img src="/ptw-logo.png" alt="" class="absolute w-20 h-20 -top-2">
    </div>
    <div class="font-normal text-yellow-600 text-xl space-x-6 md:space-x-12 flex drop-shadow-2xl">
      <a href="/" class="hover:text-orange-400">Home</a>
      <a href="/services" class="hover:text-orange-400">Services</a>
      <a href="/info" class="hover:text-orange-400">Info</a>
    </div>
  </nav> 
</header>