<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">

    <div class="max-w-6xl mx-auto px-4 xtext-xl xfont-thin">
        <div class="h-fit bg-black mx-auto">
            <%- include('../partials/header.ejs') %>
        </div>
        <main class="shadow-lg w-full">
            <%- body %>
        </main>
            <%- include('../partials/footer.ejs') %>
    </div>

</body>
</html>