<div class="max-w-6xl mx-auto py-6">

  <p class="text-3xl font-bold mb-0 px-6 py-4 bg-black text-white">
    This is the<span class="text-red-400"> Home</span> page the full width of the layout
  </p>
  <!-- grid md:grid-cols-2 lg:grid-cols-3 -->
  <div class="text-gray-500 p-6 text-base space-y-3 md:columns-2 xl:columns-4 gap-6">
    <p class="h-fit mb-4 overflow-hidden">
      <img class="w-full h-[280px] object-center object-cover rounded-2xl" src="./webp/land-003.webp" alt="">
    </p>
    <p>
      Eum nisi ex doloremque nam odit eveniet, nihil magni rerum corrupti? Quisquam sequi, ipsa quae quasi fugiat molestiae consectetur laborum alias illum quis beatae quo. Numquam ducimus quaerat perferendis in. Quisquam sequi, ipsa quae quasi fugiat molestiae consectetur laborum alias illum quis beatae quo.
    </p>
    <p>
      Molestiae quasi repudiandae commodi quod quia excepturi eius natus. Nemo quas id sapiente adipisci sunt explicabo nostrum delectus quibusdam, repellendus ex obcaecati molestiae sit tempore fugiat non vitae? Tenetur, cupiditate? Quisquam sequi, ipsa quae quasi fugiat molestiae consectetur laborum alias illum quis beatae quo.
    </p>
    <p>
      Eum quasi veniam exercitationem iure itaque accusantium iste blanditiis ea quis voluptas, fugiat sit distinctio cumque. Architecto ut consequuntur praesentium rem deleniti consectetur omnis distinctio, esse quidem fuga cum dolor? Quisquam sequi, ipsa quae quasi fugiat molestiae consectetur laborum alias illum quis beatae quo.
    </p>
  </div>
  <!-- grid md:grid-cols-2 lg:grid-cols-3 -->
  <div class="text-gray-500 p-6 text-base space-y-3 md:columns-2 xl:columns-4 gap-6">
    <p class="h-fit mb-4 overflow-hidden">
      <img class="w-full h-[280px] object-center object-cover rounded-2xl" src="./webp/land-001.webp" alt="">
    </p>
    <p>
      Eum nisi ex doloremque nam odit eveniet, nihil magni rerum corrupti? Quisquam sequi, ipsa quae quasi fugiat molestiae consectetur laborum alias illum quis beatae quo. Numquam ducimus quaerat perferendis in. Quisquam sequi, ipsa quae quasi fugiat molestiae consectetur laborum alias illum quis beatae quo.
    </p>
    <p>
      Molestiae quasi repudiandae commodi quod quia excepturi eius natus. Nemo quas id sapiente adipisci sunt explicabo nostrum delectus quibusdam, repellendus ex obcaecati molestiae sit tempore fugiat non vitae? Tenetur, cupiditate? Quisquam sequi, ipsa quae quasi fugiat molestiae consectetur laborum alias illum quis beatae quo.
    </p>
    <p>
      Eum quasi veniam exercitationem iure itaque accusantium iste blanditiis ea quis voluptas, fugiat sit distinctio cumque. Architecto ut consequuntur praesentium rem deleniti consectetur omnis distinctio, esse quidem fuga cum dolor? Quisquam sequi, ipsa quae quasi fugiat molestiae consectetur laborum alias illum quis beatae quo.
    </p>
  </div>

</div>