<div class="max-w-6xl mx-auto p-4 bg-white border">

  <p class="text-3xl font-bold pb-4">
    This is the home page the full width of the layout
  </p>
  <div class="text-gray-500 text-sm space-y-0 grid md:grid-cols-2 lg:grid-cols-3 gap-4">
    <p class="text-base text-gray-600 p-4 border-b-2 border-red-500 bg-gray-200">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum dicta alias sunt recusandae explicabo et! Unde eos atque, at vitae repudiandae pariatur ad debitis quasi, cumque corporis eligendi animi dolorem!
    </p>
    <p>
      Eum nisi ex doloremque nam odit eveniet, nihil magni rerum corrupti? Quisquam sequi, ipsa quae quasi fugiat molestiae consectetur laborum alias illum quis beatae quo. Numquam ducimus quaerat perferendis in. Quisquam sequi, ipsa quae quasi fugiat molestiae consectetur laborum alias illum quis beatae quo.
    </p>
    <p>
      Molestiae quasi repudiandae commodi quod quia excepturi eius natus. Nemo quas id sapiente adipisci sunt explicabo nostrum delectus quibusdam, repellendus ex obcaecati molestiae sit tempore fugiat non vitae? Tenetur, cupiditate? Quisquam sequi, ipsa quae quasi fugiat molestiae consectetur laborum alias illum quis beatae quo.
    </p>
    <p>
      Eum quasi veniam exercitationem iure itaque accusantium iste blanditiis ea quis voluptas, fugiat sit distinctio cumque. Architecto ut consequuntur praesentium rem deleniti consectetur omnis distinctio, esse quidem fuga cum dolor? Quisquam sequi, ipsa quae quasi fugiat molestiae consectetur laborum alias illum quis beatae quo.
    </p>
    <p>
      Molestiae quasi repudiandae commodi quod quia excepturi eius natus. Nemo quas id sapiente adipisci sunt explicabo nostrum delectus quibusdam, repellendus ex obcaecati molestiae sit tempore fugiat non vitae? Tenetur, cupiditate? Quisquam sequi, ipsa quae quasi fugiat molestiae consectetur laborum alias illum quis beatae quo.
    </p>
    <p>
      Eum quasi veniam exercitationem iure itaque accusantium iste blanditiis ea quis voluptas, fugiat sit distinctio cumque. Architecto ut consequuntur praesentium rem deleniti consectetur omnis distinctio, esse quidem fuga cum dolor? Quisquam sequi, ipsa quae quasi fugiat molestiae consectetur laborum alias illum quis beatae quo.
    </p>
  </div>
</div>