<div class="max-w-6xl mx-auto py-6">
  <div class="h-[380px] bg-[url('/webp/kids-004.webp')] bg-center bg-cover overflow-hidden relative">
    <p class="text-3xl text-gray-700 font-medium px-6 py-2 bg-orange-500/70 w-fit bottom-0 absolute">
      This is the <span class="text-white">Services</span> page.
    </p>
  </div>

  <div class="p-6 bg-slate-100">
    <p class="font-semibold text-xl text-gray-800 pb-4">
      Look it has two columns. This is a second paragraph and we can use normal html</p>
    <p class="font-thin text-base text-gray-500">
      Nulla, eius distinctio! Obcaecati laudantium facere eveniet quasi voluptates nostrum voluptate ipsum enim distinctio repellendus doloremque, sequi earum, a quis natus sapiente expedita commodi magnam officiis odit sunt consequuntur quos, repudiandae debitis. Optio perspiciatis libero, praesentium architecto aliquid eos voluptates doloremque.</p>
  </div>
  <div class="p-6 bg-slate-100">
    <p class="font-semibold text-xl text-gray-800 pb-4">
      Look it has two columns. This is a second paragraph and we can use normal html</p>
    <p class="font-thin text-base text-gray-500">
      Nulla, eius distinctio! Obcaecati laudantium facere eveniet quasi voluptates nostrum voluptate ipsum enim distinctio repellendus doloremque, sequi earum, a quis natus sapiente expedita commodi magnam officiis odit sunt consequuntur quos, repudiandae debitis. Optio perspiciatis libero, praesentium architecto aliquid eos voluptates doloremque.</p>
  </div>
</div>